
//-----------------------------------------------------
// 3.1 General options

include_directory: "../lib";
generate_testbench;

assign_primitive_operations;

//-----------------------------------------------------
// 3.2 Merging of files and units

merge_identical_entities;
merge_package_body_files;
merge_entity_architecture_files;

//-----------------------------------------------------
// 3.4 HDL configuration

annotation_level: 100;
timescale: "1ns/1ps";
synchronous_program_memory;
expand_trivial_multiplexers;
local_literal_constants;
local_hw_init;
pdg;
kill_stages : ID;
selector_constants: 2;
original_port_names;
log_register_writes;
log_memory_writes;
configuration_files: 0;

//-----------------------------------------------------
// 3.5 Reset

asynchronous_reset;

reset_all_memories;

//-----------------------------------------------------
// 3.8 Low power

operand_isolation_functional_units;
operand_isolation_multiplexers;

register_vector_write_enable;
clock_gating_threshold : 6;

//-----------------------------------------------------
// 3.9 Timing: reducing the critical path

register_addresses_from_decoder;
direct_write_disable_on_kill : 0;  // avoid conflict between PCU pm-addr and 
                                   // ld-pm pm_addr when ld-pm is killed
				   // negatively impacts critical path.

//-----------------------------------------------------
// 3.10 External processor-stall and memory wait states

#if defined(TEST_WAITSTATE)
wait_state_memories_repeat : all;
wait_state_memories_in_testbench: 1;
finish_simulation_on_signal : halted_out; 
#endif

//-----------------------------------------------------
// 3.11 Transformations of data-path

remove_false_paths;
print_false_paths;
merge_register_addresses : 2;

//-----------------------------------------------------
// 3.12 Makefiles and file of files

// RTL_SIMulation options:
#define VCS 1 // VCS=Synopsys simulator (default)
#define MTI 2 // MTI=Modelsim (untested)
#define NCV 3 // NCV=Incisive (placeholder)
// RTL_SYNthese options:
#define NO  0
#define DC  1 // DC=Synopsys Design compiler
#define RC  2 // RC=RTL Compiler (placeholder)

#ifndef RTL_SIM
#define RTL_SIM VCS /* Select one of the above options (VCS/MTI/NCV) */
#endif
#ifndef RTL_SYN
#define RTL_SYN DC  /* Select one of the above options (NO/DC/RC) */
#endif

hdl_elaborate_command: "default";
hdl_compiler_command : "default";
#if   (RTL_SIM==VCS)
ocd_verilog_pli; // also pli for vhdl mode
synopsys_makefile;
#elif (RTL_SIM==MTI)
modelsim_makefile;
modelsim_others_ini : "default";
topdir_path : "default";
#elif (RTL_SIM==NCV)
cadence_makefile;
#else
#warning "no RTL_SIM setting"
#endif

#if   (RTL_SYN==DC)
dc_synthesis_scripts;
#endif

//-----------------------------------------------------
// 3.13 On Chip Debugging

on_chip_debugging : 2;
ocd_store_watchpoints : DM PM; 

ocd_delay_request: 1; // to break false cycle in synthesis

// for tracing:
ocd_extra_processor_command: "dbg_trace_rd" "dbg_trace_rd_cnt" "dbg_trace_cfg_wr";

//-----------------------------------------------------
// 3.14 Using Go with PDG

external_module: tb_irq_inp;

//-----------------------------------------------------
// 3.16 HW/SW-Debug

#ifdef HWSW_DEBUG
// hwsw options
hwsw_debug_scripts: 1;
hwsw_debug_focus_stage: "E1";
hdlsim_64bit;
hwsw_debug_instruction_bits: "instr_bits";
#endif

