
#include "tzscale_define.h"

//-----------------------------------------------------
// 3.1 General options 

include_directory: "../lib";
generate_testbench;
assign_primitive_operations;

//-----------------------------------------------------
// 3.2 Merging of files and units

merge_identical_entities;
merge_package_body_files;
merge_entity_architecture_files;

//-----------------------------------------------------
// 3.4 HDL configuration

annotation_level: 100;
timescale: "1ns/1ps";
synchronous_program_memory;
program_memory_address_from_controller;
expand_trivial_multiplexers;
local_literal_constants;
local_hw_init;
pdg;  
selector_constants: 2;
original_port_names;
log_register_writes;
log_memory_writes;
configuration_files: 0;

hold_opcodes_on_stall: div;

//-----------------------------------------------------
// 3.5 Reset

asynchronous_reset;

reset_all_memories;

//-----------------------------------------------------
// 3.8 Low power

// operand_isolation_functional_units;
// operand_isolation_multiplexers;

// register_vector_write_enable;
// clock_gating_threshold : 6;

//-----------------------------------------------------
// 3.9 Timing: reducing the critical path

register_addresses_from_decoder;

//-----------------------------------------------------
// 3.10 External processor-stall and memory wait states

//-----------------------------------------------------
// 3.11 Transformations of data-path

remove_false_paths;
// merge_register_addresses : 2;

//-----------------------------------------------------
// 3.12 Makefiles and file of files

// RTL_SIMulation options:
#define VCS 1 // VCS=Synopsys simulator (default)
#define MTI 2 // MTI=Modelsim (untested)
#define NCV 3 // NCV=Incisive (placeholder)
// RTL_SYNthese options:
#define NO  0
#define DC  1 // DC=Synopsys Design compiler
#define RC  2 // RC=RTL Compiler (placeholder)

#define RTL_SIM VCS /* Select one of the above options (VCS/MTI/NCV) */
#define RTL_SYN DC  /* Select one of the above options (NO/DC/RC) */

hdl_elaborate_command: "default";
hdl_compiler_command : "default";
#if   (RTL_SIM==VCS)
ocd_verilog_pli; // also pli for vhdl mode
synopsys_makefile;
#elif (RTL_SIM==MTI)
modelsim_makefile;
modelsim_others_ini : "default";
topdir_path : "default";
#elif (RTL_SIM==NCV)
cadence_makefile;
#else
#warning "no RTL_SIM setting"
#endif

#if   (RTL_SYN==DC)
dc_synthesis_scripts: no_auto_ungroup "freq=250";
#elif (RTL_SYN==RC)
/* RC is not tested recently */
#else
#warning "no RTL_SYN setting"
#endif


//-----------------------------------------------------
// 3.13 On Chip Debugging
#ifdef HAS_OCD

on_chip_debugging : 2;
ocd_store_watchpoints : DMb; 

#endif

//-----------------------------------------------------
// 3.14 PDG options

pdg_inline;


